</main>
     <footer class="  orange lighten-1">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container"
            <div class="row">
                <div class="col s5">
                    <p class="left-align white-text">Andela Class 20 Boot-Camp Project 2016</p>
                </div>
                <div class="col s7">
                    <p class="right-align white-text"> Designed by Victor Nwaiwu <span>08138120185</span></p>
                </div>
            </div>
        </div>
      </div>  
    </footer>
    <! download jQuery from the CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>