<!doctype html>
<html>
  <head>
    <title>
      <% if (typeof(title) == 'undefined') { %>
        Error
      <% } else { %>
        <%= title %>
      <% } %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/admin/adminstyle.css'>
  </head>
  <body>
    <header>
      <nav class="orange lighten-2">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">E-BOOK HUB</a>
            <% if (user === null || user === undefined) { %>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/admin">HOME</a></li>
              <li><a href="/login">LOGIN</a></li>
            </ul>
            <% } else { %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/admin">HOME</a></li>
              <li><a href="/admin/users">USERS</a></li>
              <li><a href="/admin/books">BOOKS</a></li>
              <li><a href="/admin/allcategories">CATEGORIES</a></li>
              <li><a href="/auth/logout">LOGOUT</a></li>
            </ul>
            <% } %>
          </div>
        </div>
      </nav>
    </header>
     <main>
        <ul id="slide-out" class="side-nav fixed">
            <li>
                <div class="userView">
                    <img class="background" src="/images/librarypic.jpg">
                    <a href="#!user"><img class="rounded-image profile" src="/images/avatar.png" />
                    <a href="#!name"><span class="white-text name"><%= user.firstname %> <%= user.lastname %></span></a>
                    <a href="#!email"><span class="white-text email"><%= user.emailn %></span></a>
                </div>
            </li>
            <li><a class="modal-trigger waves-effect waves-light white-text" href="/admin/unreturned">UNRETURNED BOOKS</a></li>
            <li><a class="modal-trigger waves-effect waves-light white-text" href="/admin/users">MEMBERS</a></li>
            <li><a class="modal-trigger waves-effect waves-light white-text" href="/admin/books">BOOKS</a></li>
            <li><a class="modal-trigger waves-effect waves-light white-text" href="/admin/allcategories">CATEGORIES</a></li>
            <li><a class="modal-trigger waves-effect waves-light white-text" href="/auth/logout">LOGOUT</a></li>
        </ul>
