<!doctype html>
<html>
  <head>
    <title>
      <% if (typeof(title) == 'undefined') { %>
        Error
      <% } else { %>
        <%= title %>
      <% } %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <nav class="orange lighten-2">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center">E-Book Hub</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/issue">Books</a></li>
              <li><a href="/user">Users</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
