<% include header.ejs %>
  <div class="intro lighten-2 z-depth-1">
    <h1 class="grey-text text-lighten-5">E-Book Hub</h1>
    <h5 class="grey lighten-3 grey-text text-darken-1">Making Learning Fun And Rewarding</h5>
  </div>
  <div class="container">
    <h4 class="center-align">WELCOME TO E-BOOK HUB</h4>
    <div id="categories">
      <div class="row">
        <% if (categories === null) { %>
          <p class="flow-text center-align"> We are working on bringing you the best books</p>
        <% } else { %>
        <% for (key in categories) { %>
          <div class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= categories[key].name.substring(0, 15) %> ...</span>
              <p><%= categories[key].description.substring(0, 40) %> ...</p>
            </div>
            <div class="card-action">
              <a href="/admin/category/<%= categories[key].name %>">View books in this category</a>
            </div>
          </div>
        </div>
        <% }} %>
      </div>
    </div>
  </div>
<% include footer.ejs %>
